@font-face {
    font-family: 'nothing';
    src: url('../../../fonts/nothing/nothing-font-5x7.ttf') format('truetype');
}

@font-face {
    font-family: 'oxigen';
    src: url('../../../fonts/oxigen/OxygenMono-Regular.ttf') format('truetype');
}

:root {
    --background-general: #07080a;
    --borders: #15151f;
    --background-buttons: #1C2022;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--background-general);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'oxigen';
}

#container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

#logo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 55px;
    color: white;
    font-family: 'nothing';
    letter-spacing: 2px;
}

#form-card {
    background-color: transparent;
    border-radius: 25px;
    padding: 40px;
    border: var(--borders) solid 3px;
}

#form-title {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: normal;
}

#password-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
    color: white;
    font-size: 14px;
    outline: none;
}

#password-requirements {
    color: white;
    font-size: 12px;
    margin: 10px 0 20px 0;
}

#submit-button {
    width: 100%;
    padding: 15px;
    background-color: var(--background-buttons);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
}

#terms-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: white;
    font-size: 12px;
}

#terms-checkbox {
    margin-top: 2px;
}

#terms-text a {
    color: rgb(255, 246, 117);
    text-decoration: underline;
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #f44336; /* Rojo por defecto */
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .toast.success, .toast.error, .toast.warning  {
    background-color: transparent; 
    border: var(--borders) solid 3px;
    border-radius: 25px;
  }
  
  .blink {
    animation: blink-animation 1s step-end infinite;
  }
  
  @keyframes blink-animation {
    50% {
      opacity: 0;
    }
  }
  